@import "../../../styles.scss";

.grid {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 1fr;
  gap: 2em;
  margin: 0 80px;
}

//#region Category
.category-list {
  top: 60px;
  display: grid;
  grid-template-rows: auto max(1fr);
  max-width: 350px;
  min-width: 250px;
}

.category-list .category-container {
  position: absolute;
  border: 1px solid $line-clr;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.category-list ul {
  list-style: none;
}

.category-list a,
.category-list .dropdown-btn {
  border: none;
  padding: 0.2em;
  text-decoration: none;
  color: $secondary-text-clr;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.category-list span,
.category-list .dropdown-btn span {
  flex-grow: 1;
}

.category-list a:hover,
.category-list .dropdown-btn:hover svg {
  color: $text-clr;
  fill: $text-clr;
}

.category-list .sub-category {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

.category-list .sub-category.show {
  grid-template-rows: 1fr;
  margin-bottom: 1em;
}

.dropdown-btn svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

.category-list .sub-category a {
  padding-left: 24px;
}

.category-list ul li.active a,
.category-list ul li.active button {
  color: $text-clr;

  svg {
    fill: $text-clr;
  }
}

.category-list ul li.active ul li a {
  color: $secondary-text-clr;
}

.category-list ul li.active ul li:hover a {
  color: $text-clr;
}

.category-list svg {
  flex-shrink: 0;
  fill: $secondary-text-clr;
}
//#endregion

//#region Product
.product-container {
  display: grid;
  grid-template-rows: 40px auto;
}

.product-container .header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  color: $secondary-text-clr;
  cursor: default;
}

.header a {
  text-decoration: none;
  color: $secondary-text-clr;
}

.header a:after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
}

.header :last-child:after {
  content: "";
}
//#endregion
