<div class="login">
  <div class="container">
    <h3 class="header"><span>Giriş Yap</span></h3>
    <div class="input-container">
      <div class="input-group mb-4">
        <input
          type="text"
          class="input"
          id="username"
          placeholder=" "
          [(ngModel)]="loginDto.username"
          required
        />
        <label for="username">Kullanıcı Adı</label>
      </div>

      <div class="input-group">
        <input
          type="password"
          class="input"
          id="password"
          placeholder=" "
          [(ngModel)]="loginDto.password"
          required
        />
        <label for="password">Şifre</label>
      </div>
      <span class="error-message" [hidden]="loginErrMsg === ''">{{ loginErrMsg }}</span>
    </div>
    <div class="button-container">
      <button
        class="login-button"
        (click)="login()"
      >
        Giriş yap
      </button>
      <button class="register-button" (click)="register()">KAYDOL</button>
    </div>
  </div>
</div>
