.router {
  display: grid;
  grid-template-rows: 0 auto auto;
  padding-top: 40px;
  margin: 60px 0 80px 0;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 60px);
}

app-footer {
  margin-bottom: 0px;
  margin-top: auto;
}

@media (max-width: 800px) {
  .router {
    padding-top: 10px;
    margin: 60px 0 0 0;
  }
  app-footer {
    display: flex;
  }
}

@media (min-width: 800px) {
  app-footer {
    display: none;
  }
}
