<mat-toolbar>
  <mat-toolbar-row [hidden]="firstToolbarRowMobile">
    <div class="container" [hidden]="firstToolbarRowMobile">
      <div class="link-container">
        <a href="">ANASAYFA</a>
      </div>
      <div class="link-container">
        <a href="">HİZMETLER</a>
      </div>
      <div class="link-container">
        <a href="">ÜRÜNLER</a>
      </div>
    </div>
    <div
      #searchContainer
      class="search-container"
      [hidden]="firstToolbarRowMobile"
    >
      <input #searchInput id="search-input" type="text" />
      <button
        #searchButton
        class="search-button"
        (click)="searchButtonOnClick()"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div class="nav-img-container">
      <i class="bi bi-person"></i>
    </div>
    <div class="nav-img-container">
      <i class="bi bi-cart"></i>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row [hidden]="!firstToolbarRowMobile">
    <div class="container">
      <mat-toolbar-row>
        <div class="mobile-container">
          <span class="mobile-menu-icon">
            <i class="fa-solid fa-bars"></i>
          </span>
          <span class="mobile-title"><b>Demir Ajans</b></span>
          <span class="mobile-search-icon">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </mat-toolbar-row>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
