<mat-toolbar>
  <div class="row-container">
    <mat-toolbar-row class="first-row">
      <div class="search-container">
        <i class="bi bi-search search-icon"></i>
        <input id="search" type="text" placeholder="Ürünlerde ara" />
      </div>
    </mat-toolbar-row>
  </div>
  <hr />
  <div class="row-container">
    <mat-toolbar-row>
      <div class="menu-container">
        <a href="" class="menu-a">
          <span class="menu-span">
            <i class="fa-solid fa-bars menu-icon"></i>
            MENÜ
          </span>
        </a>
      </div>
      <div class="header-container" ><span>ANASAYFA</span></div>
    </mat-toolbar-row>
  </div>
  <hr />
</mat-toolbar>
