<mat-toolbar>
    <div class="row-container">
      <mat-toolbar-row [hidden]="firstToolbarRowMobile" class="first-row">
        <div class="search-container">
          <i class="bi bi-search search-icon"></i>
          <input id="search" type="text" placeholder="Ürünlerde ara" />
        </div>
      </mat-toolbar-row>
    </div>
    <hr />
    <div class="row-container" [hidden]="firstToolbarRowMobile">
      <mat-toolbar-row>
        <div class="menu-container">
          <div href="" class="menu-a">
            <span class="menu-span">
              <i class="fa-solid fa-bars menu-icon"></i>
              MENÜ
            </span>
          </div>
        </div>
        <div class="header-container"><span>ANASAYFA</span></div>
      </mat-toolbar-row>
    </div>
    <div class="row-container" [hidden]="!firstToolbarRowMobile">
      <mat-toolbar-row>
        <div class="mobile-container">
          <span class="mobile-menu-icon">
            <i class="fa-solid fa-bars"></i>
          </span>
          <span class="mobile-title"><b>Demir Ajans</b></span>
          <span class="mobile-search-icon">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </mat-toolbar-row>
    </div>
    <hr />
  </mat-toolbar>
  
  