body {
  width: 100%;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
