<div class="grid">
  <div class="profile">
    <span>Profil</span>
    <div class="username input-container">
      <div class="input-group">
        <input
          type="text"
          class="input"
          id="username"
          placeholder=" "
          required
        />
        <label for="username">Kullanıcı Adı</label>
      </div>
    </div>
    <div class="email input-container">
      <div class="input-group">
        <input type="email" class="input" id="email" placeholder=" " required />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="password input-container">
      <div class="input-group">
        <input
          #password
          [type]="passwordVisible ? 'text' : 'password'"
          class="input"
          id="password"
          placeholder=" "
          required
        />
        <label for="password">Şifre</label>
      </div>
    </div>
    <div class="name input-container">
      <div class="input-group">
        <input type="text" class="input" id="name" placeholder=" " required />
        <label for="name">Ad</label>
      </div>
    </div>
    <div class="lastName input-container">
      <div class="input-group">
        <input
          type="text"
          class="input"
          id="lastName"
          placeholder=" "
          required
        />
        <label for="lastName">Soyad</label>
      </div>
    </div>
    <div class="btn-grp">
      <button class="admin secondary">Admin Paneli</button>
      <button class="save primary">Kaydet</button>
    </div>
  </div>
</div>
