<div class="register">
  <div class="container">
    <h3 class="header"><span>KAYDOL</span></h3>
    <div class="input-container">
      <div
        class="input-group"
        [ngClass]="activationSendErrMsg !== '' ? 'input-group-err' : ''"
        [hidden]="verifyActivation"
      >
        <input
          type="email"
          class="input"
          id="email"
          placeholder=" "
          required
          [disabled]="activationSend"
          (blur)="validateEmail()"
          [(ngModel)]="activationCreateDto.email"
        />
        <label for="email">Mail adresi</label>
        <span class="error-message" [hidden]="activationSendErrMsg === ''">
          {{ activationSendErrMsg }}
        </span>
      </div>

      <div
        class="input-group"
        [ngClass]="verifyActivationErrMsg !== '' ? 'input-group-err' : ''"
        [hidden]="activationSend ? (verifyActivation ? true : false) : true"
      >
        <input
          type="text"
          class="input"
          id="activation-code"
          placeholder=" "
          [(ngModel)]="activationCreateDto.code"
          required
        />
        <label for="activation-code">Aktivasyon Kodu</label>
        <span class="timer">{{ counterStr }}</span>
        <span class="error-message" [hidden]="verifyActivationErrMsg === ''">
          {{ verifyActivationErrMsg }}
        </span>
      </div>

      <div class="input-group" [hidden]="!verifyActivation">
        <input
          type="text"
          class="input"
          id="name"
          placeholder=" "
          required
          [(ngModel)]="userCreateDto.name"
        />
        <label for="name">Ad *</label>
      </div>

      <div class="input-group" [hidden]="!verifyActivation">
        <input
          type="text"
          class="input"
          id="lastname"
          placeholder=" "
          [(ngModel)]="userCreateDto.lastName"
          required
        />
        <label for="lastname">Soyad *</label>
      </div>

      <div class="input-group" [hidden]="!verifyActivation">
        <input
          type="text"
          class="input"
          id="username"
          placeholder=" "
          [(ngModel)]="userCreateDto.username"
          required
        />
        <label for="username">Kullanıcı Adı *</label>
      </div>

      <div class="input-group" [hidden]="!verifyActivation">
        <input
          type="password"
          class="input"
          id="password"
          placeholder=" "
          [(ngModel)]="userCreateDto.password"
          required
        />
        <label for="password">Şifre *</label>
      </div>

      <div class="input-group" [hidden]="!verifyActivation">
        <input
          type="password"
          class="input"
          id="passwordAgain"
          placeholder=" "
          [(ngModel)]="userCreateDto.passwordAgain"
          required
        />
        <label for="passwordAgain">Şifre Tekrar *</label>
      </div>
    </div>
    <div class="button-container">
      <button class="activation-button" (click)="buttonOnClick()">
        {{
          activatinSendAgain
            ? "Tekrar Aktivasyon Kodu Gönder"
            : !activationSend
            ? "Aktivasyon Kodu Gönder"
            : !verifyActivation
            ? "Doğrula"
            : "Kaydol"
        }}
      </button>

      <button class="back-button" (click)="backButtonOnClick()">
        Geri Dön
      </button>
    </div>
  </div>
</div>
