<div class="register">
  <div class="container">
    <h3 class="header"><span>KAYDOL</span></h3>
    <div class="input-container">
      <div class="input-group mb-4" [hidden]="activated">
        <input
          type="email"
          class="input"
          id="email"
          placeholder=" "
          required
          [(ngModel)]="activationCreateDto.email"
        />
        <label for="email">Mail adresi</label>
      </div>
      <div class="input-group" [hidden]="activated">
        <input
          type="text"
          class="input"
          id="activation-code"
          placeholder=" "
          [(ngModel)]="activationCreateDto.code"
          required
        />
        <label for="activation-code">Aktivasyon Kodu</label>
        <span class="timer">{{ counterStr }}</span>
      </div>

      <div class="input-group mb-4" [hidden]="!activated">
        <input
          type="text"
          class="input"
          id="name"
          placeholder=" "
          required
          [(ngModel)]="userCreateDto.name"
        />
        <label for="name">Ad *</label>
      </div>

      <div class="input-group mb-4" [hidden]="!activated">
        <input
          type="text"
          class="input"
          id="lastname"
          placeholder=" "
          [(ngModel)]="userCreateDto.lastName"
          required
        />
        <label for="lastname">Soyad *</label>
      </div>

      <div class="input-group mb-4" [hidden]="!activated">
        <input
          type="text"
          class="input"
          id="username"
          placeholder=" "
          [(ngModel)]="userCreateDto.username"
          required
        />
        <label for="username">Kullanıcı Adı *</label>
      </div>

      <div class="input-group mb-4" [hidden]="!activated">
        <input
          type="password"
          class="input"
          id="password"
          placeholder=" "
          [(ngModel)]="userCreateDto.password"
          required
        />
        <label for="password">Şifre *</label>
      </div>

      <div class="input-group" [hidden]="!activated">
        <input
          type="password"
          class="input"
          id="passwordAgain"
          placeholder=" "
          [(ngModel)]="userCreateDto.passwordAgain"
          required
        />
        <label for="passwordAgain">Şifre Tekrar *</label>
      </div>
    </div>
    <div class="button-container">
      <button class="activation-button" (click)="buttonOnClick()">
        {{
          !activationSend
            ? "Aktivasyon Kodu Gönder"
            : !activated
            ? "Doğrula"
            : "Kaydol"
        }}
      </button>
    </div>
  </div>
</div>
