@import "../../../styles.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(1, auto-fit, minmax(200px, 2fr));
  gap: 10px;
}

.category-container {
  padding: 1rem;
  color: $text-clr;
  text-align: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 10px;
  padding: 1rem;
  color: $text-clr;
  text-align: center;
  background: $base-clr;
}
