<div class="grid" *ngIf="categoryList && productList">
  <div class="category-container" *ngFor="let category of categoryList">
    <h3>
      <span>{{ category.name }}</span>
    </h3>
    <div class="product-container">
      <div
        class="product"
        *ngFor="let product of getProductsByCategoryId(category.id)"
      >
        <div class="left">
          <img
            [src]="'data:image/jpeg;base64,' + product.colors[0].base64"
            alt=""
          />
        </div>
        <div class="right">
          <div class="box name">
            <span>{{ product.name.toLocaleUpperCase("tr-TR") }}</span>
          </div>
          <div class="box">
            {{ product.colors[0].name.toLocaleUpperCase("tr-TR") }}
          </div>
          <div class="box price">
            <span>{{ product.price }} ₺</span>
          </div>
          <div class="box">ÜRÜN KODU: {{ product.colors[0].code }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
