<div class="home">
  <div class="home-container">
    <div class="product-container">
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
      <li class="circle-container">
        <img src="assets/jpgs/pencil.jpg" alt="" />
        <p>KALEMLER</p>
      </li>
    </div>
  </div>
</div>
