.home {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  @media (max-width: 768px) {
    width: 100%;
  }
}

//#region
.circle {
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 768px) {
    overflow: auto;
    justify-content: flex-start;
  }
}

.circle-container {
  display: inline-block;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.circle-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ddd;
  object-fit: cover;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle-container img:hover {
  border: 1px solid black;
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.circle-container p {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  transition: color 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle-container:hover p {
  transform: scale(1.1);
}
//#endregion

//#region category
.category-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.category-title-container:before,
.category-title-container:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.category-title-container span {
  font-size: 30px;
  font-weight: bold;
  color: #000; /* Text color */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.product-card .price {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 5px;
}

.product-card .code {
  font-size: 14px;
  color: #555;
}
//#endregion
