@import "../../../styles.scss";

.product-container {
  display: grid;
  grid-template-columns: auto 600px;
  gap: 20px;
  justify-content: center;
}

//#region image
.image-section {
  display: grid;
  grid-template-columns: auto 450px;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}

.thumbnails {
  display: grid;
  grid-auto-rows: auto;
  gap: 10px;
}

.thumbnails-img.active {
  opacity: 0.5;
}

.thumbnails img {
  width: 120px;
  height: auto;
  border: 1px solid $line-clr;
  cursor: pointer;
}

.main-image {
  position: relative;
}

.main-image img {
  width: 100%;
  height: auto;
  border: 1px solid $line-clr;
  cursor: pointer;
}

.main-image button {
  box-sizing: border-box;
  position: absolute;
  display: none;
  z-index: 3;
  border: none;
  background: none;
  width: 32px;
  height: auto;
  top: calc(50% - 16px);
  cursor: pointer;
  transition: transform 150ms ease;

  svg {
    fill: $secondary-text-clr;
    width: 32px;
    height: 32px;
  }
}

.main-image:hover button {
  display: flex;
}

.main-image button:hover {
  transform: scale(1.2);

  svg {
    fill: $text-clr;
  }
}

.main-image :first-child {
  left: 10px;
}

.main-image :last-child {
  right: 10px;
}
//#endregion

//#region Info
.info-section {
  display: grid;
  position: relative;
  grid-auto-rows: auto;
  gap: 10px;
  letter-spacing: 1px;
  font-size: 14px;
}

.info-section h1 {
  font-size: 20px;
  font-weight: 500;
  color: $text-clr;
  line-height: 2em;
  justify-self: flex-start;
  align-self: flex-start;
}

.info-section .price-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.info-section button {
  display: flex;
  width: 25%;
  height: auto;
  border: 1px solid $secondary-text-clr;
  border-radius: 0.8em;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: 2rem;
  cursor: pointer;
  padding: 5px 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  span {
    color: $secondary-text-clr;
    font-size: 14px;
  }

  svg {
    fill: none;
    stroke: $secondary-text-clr;
    width: 32px;
    height: 32px;
  }
}

@media (hover: hover) {
  .info-section button:hover {
    border-color: $hover-clr;

    span {
      color: $hover-clr;
    }

    svg {
      stroke: $hover-clr;
    }
  }
}

.info-section .price {
  display: flex;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: $hover-clr;
  align-items: center;
}

.info-section .note {
  font-size: 14px;
  font-weight: 500;
  color: $text-clr;
}

.note span {
  color: red;
}

.hr {
  border-top: 1px solid $line-clr;
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

.color-container {
  display: grid;
  grid-template-rows: 20px 50px;
  gap: 10px;
  font-size: 14px;
  min-height: 80px;

  .img-container {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    overflow-x: auto;

    img {
      padding: 2px;
      border: 1px solid $line-clr;
      border-radius: 0.5em;
      flex: 1;
      max-height: 100%;
      max-width: 50px;
      object-fit: fill;
      cursor: pointer;
    }

    img.selected {
      border: 1px solid $hover-clr;
    }

    img:hover {
      border: 1px solid $hover-clr;
    }
  }
}

.description {
  ul {
    list-style: none;
  }
}

//#endregion

//#region Mobile
@media (max-width: 1200px) {
  
}

@media (max-width: 800px) {
  .product-container {
    grid-template-columns: calc(100vw - 20px);
    grid-template-rows: auto auto;
    letter-spacing: unset;
    padding: 5px;
    width: 100vw;

    h1 {
      font-size: 18px;
    }

    .price-container {
      align-items: flex-end;
      flex-direction: column;

      button {
        margin-left: unset;
        margin-top: 10px;
      }
    }

    .note {
      font-size: 12px;
    }

    .hr {
      margin: 5px 0;
    }
  }

  .image-section {
    grid-template-columns: unset;
    grid-template-rows: auto;
    width: 100%;

    .main-image {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .thumbnails {
      display: none;
    }

    .main-image img {
      max-width: 100%;
      height: auto;
    }

    .main-image button {
      display: flex;
      width: 24px;
      height: auto;
      top: calc(50% - 12px);

      svg {
        fill: $secondary-text-clr;
        width: 24px;
        height: 24px;
      }
    }

    .main-image button:hover {
      transform: unset;
    }
  }

  .thumbnails img {
    width: auto;
    height: 60px;
  }

  .info-section {
    button {
      position: fixed;
      bottom: 60px;
      left: 0;
      width: 100%;
      border-color: $accent-clr;
      background-color: $accent-clr;
      border-radius: unset;
      height: 50px;
      transition: height 150ms ease-in-out;

      span {
        color: $text-clr;
      }

      svg {
        stroke: $text-clr;
      }
    }

    button.hidden {
      height: 0;
      padding: 0;
      margin: 0;
      border: none;

      svg {
        display: none;
      }

      span {
        display: none;
      }
    }
  }
}
//#endregion
